@media screen and (min-width: 750px){
  .side-nav{
    box-sizing: border-box;
    float: left;
    margin-right: 100%;
    position: fixed;
    width: 29%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: grey;
    overflow: auto;
    border: solid black;
  }
  .content{
    margin-left: 30%;
    position: absolute;
    top: 0;
    border: solid;
    border-color: black;
  }

  .side-content{
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: solid;
    border-color: red;
    width: 29%;
  }

  .about-me{
    box-sizing: border-box;
    position: relative;
    border:solid;
    width: 29%;
    text-align: center;
  }
  .drop-down{
    display: none;
    background-color: red;
  }
  #pages, .pages-info, .recent, .archives, .tags{
    border:solid;
    width: 80%;
    text-align: center;
    margin: 5% auto;
  }
}
