@media screen and (min-width: 750px){
  .content{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    border: solid;
    border-color: black;
    width: 71%;
    margin-left: 29%;
    overflow: auto;
  }

  #sidebar{
    position: relative;
    bottom: 0;
    float: left;
    margin-right: -100%;
    width: 29%;
    background-color: maroon;
  }

  .before{
    box-sizing: border-box;
    float: left;
    border: solid;
    border-color: red;
    width: 100%;
    background-color: gray;
  }
  .after{
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    /* visibility: hidden; */
    float: left;
    border: solid;
    border-color: red;
    width: 29%;
    background-color: gray;
    z-index: -1;
  }

  .about-me{
    box-sizing: border-box;
    position: relative;
    float: left;
    border:solid;
    width: 100%;
    text-align: center;
    background-color: brown;
  }

  #drop-down{
    display: none;
  }
  #pages, .pages-info, .recent, .archives,.resources,.share,.tags{
    border:solid;
    width: 80%;
    text-align: center;
    margin: 5% auto;
  }
  .workover{
    border:solid;
    width: 80%;
    z-index: 2;
  }
  #posts{
    box-sizing: border-box;
    border: solid;
    width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  .new{
    position: absolute;
    bottom:0;
    float: left;
    width: 80%;
    z-index: 2;
    border:solid;
  }
}
