body {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 Georgia,serif;
}

a{
  text-decoration: none;
}

#paginator {
  background-color: lightpink;
  text-align: center;
}

#comments {
  border: solid;
  margin: 3%;
}
.functions{
  border:solid;
  margin: 1%;
}
