@media screen and (max-width: 750px){

  .side-nav,.side-content{
    display: none;
  }

  .about-me{
    box-sizing: border-box;
    border: solid;
    width: 100%;
    margin-bottom: 5%;
    padding-left: 2%;
    background-color: gray;
  }

  .small-screen{
    width: auto;
    border: solid;
  }
  .small-screen h1{
    display: inline-block;
    border: solid;
    margin: 0;
  }

  .drop-down{
    display:inline;
  }

  .drop-down:hover {

  }
  .content{
    box-sizing: border-box;
    border: solid;
    border-color: black;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
