<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>learning</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/big.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/small.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="sidebar" class="sidebar" >

          <div id="about-me" class="about-me" >
                <div class="small-screen">
                    <h1><a href="#" >Jeevan's Blog </a></h1>
                    <div id="drop-down" onclick="change()">
                        <h1 style="float:right;"><a href="#">Press</a></h1>
                    </div>
                </div>
               <p>A fun lover and programming enthusiasist</p>
          </div>

          <div id="side-content" class="before" >
              <div id="pages">
                    <h1>Pages</h1>
                    <div class="pages-info">
                        <p><a href="#">About</a></p>
                        <p><a href="#">Projects</a></p>
                        <p> <a href="#">Contact</a></p>
                    </div>
                </div>
              <div class="recent">
                <h1> <a href="#">Recent posts</a></h1>
              </div>
              <div class="archives">
                <h1> <a href="#">Archives</a> </h1>
              </div>
              <div class="resources" id="resources">
                  <h1><a href="#">Resources</a></h1>
              </div>
              <div class="share" id="share">
                <h1> <a href="#">Share Auto</a> </h1>
              </div>
              <div class="tags" id="tags">
                <h1> <a href="#">Tags</a> </h1>
              </div>
          </div>
    </div>
    <div class="content">
      {{content}}
    </div>
    <script src="script/main.js"></script>
  </body>
</html>
